<div class="navbar-wagon">

   <!-- Text link -->
    <%= link_to "Hommages aux créateurs", pages_tributes_path, :class=>"navbar-wagon-item navbar-wagon-link"%><!-- Text link -->


    <!-- Text link -->
    <%= link_to "Inspirations libres", pages_inspirations_path, :class=>"navbar-wagon-item navbar-wagon-link"%>

    <!-- Text link -->
    <%= link_to "Références à l'histoire de l'art", pages_references_path, :class=>"navbar-wagon-item navbar-wagon-link"%>


    <!-- Text link -->
    <%= link_to "Symbolisme", pages_explorations_path, :class=>"navbar-wagon-item navbar-wagon-link"%>

   <!-- Text link -->
    <%= link_to "Bestiaire", pages_bestiaries_path, :class=>"navbar-wagon-item navbar-wagon-link"%>

   <!-- Text link -->
    <%= link_to "Portraits", pages_portraits_path, :class=>"navbar-wagon-item navbar-wagon-link"%>
</div>
