<div class="page">

  <div class="container-text">

    <div class= draw>
      <h1> Bestiaire
      </h1>
        <p> Créatures fantastiques, mythiques, emblématiques...
        Totems...
        Féroce ou familier, le règne animal a marqué de son empreinte tous les domaines de la représentation.
        La diversité des espèces fascine. Les motifs des robes, pelages, plumages, carapaces, écailles sont d'une diversité sans limite. Le pouvoir mimétique, l'extravagance des couleurs ouvrent des mondes infinis où la beauté est intrigante et la laideur sublimée.
        </p>
    </div>

  </div>

  <div class="container-img">
    <div class= "draw">
      <%= image_tag "lapin.jpg", width: 650, height: 600, crop: :fill %>
      <div class="legende">
      Lapin. Techniques mixtes sur papier (250g. m²). 30 x 40 cm.
      </div>

    </div>

    <div class= "draw">
      <%= image_tag "poussin.jpg", width: 650, height: 600, crop: :fill %>
      <div class="legende">
      Poussin. Techniques mixtes sur papier (250g. m²). 30 x 40 cm.
      </div>
    </div>

    <div class= "draw">
      <%= image_tag "geko.jpg", width: 650, height: 900, crop: :fill %>
      <div class="legende">
        Gecko. Huile sur bois. 40 x 60 cm.
      </div>
    </div>

    <div class= "draw">
      <%= image_tag "chien 1.jpg", width: 650, height: 900, crop: :fill %>
      <div class="legende">
      Yorkshire. Huile sur papier toilé. 30 x 30cm.
      </div>
    </div>

    <div class= "draw">
      <%= image_tag "ecureuil.jpg", width: 650, height: 450, crop: :fill %>
      <div class="legende">
      Bacchus. Huile sur toile. 46 x 33cm.
      </div>
    </div>

    <div class= "draw">
      <%= image_tag "dragon.jpg", width: 650, height: 450, crop: :fill %>
      <div class="legende">
      Dragon. Huile sur toile. 54 x 73cm.
      </div>
    </div>
    <div class= "draw">
      <%= image_tag "chat.jpg", width: 650, height: 950, crop: :fill %>
      <div class="legende">
      Chat. Huile sur toile.
      </div>
    </div>
    <div class= "draw">
      <%= image_tag "adam et eve 2.jpg", width: 650, height: 950, crop: :fill %>
      <div class="legende">
      Adam et Eve (d'après Dürer). Huile sur toile. 65 x 100cm.
      </div>
    </div>

    <div class= "draw">
      <%= image_tag "lunettes.jpg", width: 650, height: 750, crop: :fill %>
      <div class="legende">
      Lunettes papillons. Techniques mixtes sur papier (250g. m²). 30 x 30cm.
      </div>
    </div>

    <div class= "draw">
      <%= image_tag "bouledogue.jpg", width: 650, height: 750, crop: :fill %>
      <div class="legende">
      Bouledogue. Techniques mixtes sur papier (250g. m²). 30 x 30cm.
      </div>
    </div>
  </div>
</div>
