<div class="page">

  <div class="container-text">
    <div class= draw>
      <h1> Symbolisme
      </h1>
    </div>
  </div>

  <div class="container-img">
    <div class= "draw">
      <%= image_tag "armure pour lapin.jpg", width: 650, height: 600, crop: :fill %>
      <div class="legende">
      Armure pour lapin. Huile sur toile. 46 x 38cm.
      </div>
    </div>

    <div class= "draw">
      <%= image_tag "conquete 2.jpg", width: 650, height: 600, crop: :fill %>
      <div class="legende">
      Conquête. Huile sur toile. 50 x 70cm.
      </div>
    </div>

    <div class= "draw">
      <%= image_tag "voie-lactee.jpg", width: 650, height: 900, crop: :fill %>
      <div class="legende">
        Voie lactée. Huile sur toile. 73 x 100cm.
      </div>
    </div>

    <div class= "draw">
      <%= image_tag "pamplemousses.jpg", width: 650, height: 900, crop: :fill %>
      <div class="legende">
      Pamplemoussier. Huile sur toile.
      </div>
    </div>

    <div class= "draw">
      <%= image_tag "nativité.jpg", width: 650, height: 570, crop: :fill %>
      <div class="legende">
      Nativité. Huile sur toile. 60 x 73cm.
      </div>
    </div>
  </div>
</div>
