<div class="page">

  <div class="container-fluid">
<div class="row">
     <div class= "col-xs-12 col-sm-12 col-md-6">
<div id="slider">
  <!-- i put this sizer img to define the aspect ratio -->
  <img class="sizer" src="https://dl.dropboxusercontent.com/u/198573416/codepen/sizer.gif" alt="" />
  <article class="show">
    <%= image_tag "voie-lactee.jpg", width: 620, height: 850, crop: :fill %>
  </article>
  <article>
    <%= image_tag "robe dior.jpg", width: 620, height: 850, crop: :fill %>
  </article>
  <article>
    <%= image_tag "ange.jpg", width: 620, height: 850, crop: :fill %>
  </article>
  <article>
   <%= image_tag "nativité_crop.jpg", width: 620, height: 850, crop: :fill %>
  </article>
  <article>
    <%= image_tag "musicienne.jpg", width: 620, height: 850, crop: :fill %>
  </article>
</div>

    </div>

      <div class= "col-xs-6 col-sm-hidden col-md-3 col-md-3" >
        <%= link_to pages_references_path do %>
          <%= image_tag "adam et eve 2.jpg", width: 250, height: 250, crop: :fill %>
            <h4><%= link_to "Références à l'histoire de l'art", pages_references_path, :class=>"navbar-wagon-item navbar-wagon-link"%></h4>
        <% end %>
      </div>

      <div class= "col-xs-6 col-sm-hidden col-md-3" text-align="center">
        <%= link_to pages_bestiaries_path do %>
          <%= image_tag "lapin.jpg", width: 250, height: 250, crop: :fill %>
            <h4><%= link_to "Bestiaire", pages_bestiaries_path, :class=>"navbar-wagon-item navbar-wagon-link"%></h4>
        <% end %>
      </div>

      <div class= "col-xs-6 col-sm-hidden col-md-3" >
        <%= link_to pages_portraits_path do %>
          <%= image_tag "rêverie.jpg", width: 250, height: 250, crop: :fill %>
          <h4><%= link_to "Portraits", pages_portraits_path, :class=>"navbar-wagon-item navbar-wagon-link"%></h4>
        <% end %>
      </div>

      <div class= "col-xs-6 col-sm-hidden col-md-3" >
        <%= link_to pages_inspirations_path do %>
          <%= image_tag "plume.jpg", width: 250, height: 250, crop: :fill %>
          <h4><%= link_to "Inspiration libre", pages_inspirations_path, :class=>"navbar-wagon-item navbar-wagon-link"%></h4>
        <% end %>
      </div>

      <div class= "col-xs-6 col-sm-hidden col-md-3" >
        <%= link_to pages_tributes_path do %>
          <%= image_tag "tutu carré.jpg", width: 250, height: 250, crop: :fill %>
            <h4><%= link_to "Hommages aux créateurs", pages_tributes_path, :class=>"navbar-wagon-item navbar-wagon-link"%></h4>
        <% end %>
      </div>

      <div class= "col-xs-6 col-sm-hidden col-md-3" >
        <%= link_to pages_explorations_path do %>
          <%= image_tag "conquete 2.jpg", width: 250, height: 250, crop: :fill %>
            <h4><%= link_to "Symbolisme", pages_explorations_path, :class=>"navbar-wagon-item navbar-wagon-link"%></h4>
          <% end %>
      </div>
    </div>
  </div>
<script>
  ;(function(){
  "use strict";

  var $slider = $('#slider');
  if (!$slider.length) return;

  var $sliderElements = $slider.find('article'),
      sliderElementLastIndex = $sliderElements.length - 1,
      timer,
      actualIndex = 0,
      step = function() {
        clearTimeout(timer);
        timer = setTimeout(function(){
          if (actualIndex < sliderElementLastIndex) {
            actualIndex++;
          } else {
            actualIndex = 0;
          }
          $sliderElements.removeClass('show');
          $sliderElements.eq(actualIndex).addClass('show');

          step();
        },5000);
      };

  clearTimeout(timer);
  step();
})();
</script>
</div>
