<div class="page">

  <div class="container-fluid">
    <div class="row">
      <div class= "col-xs-12 col-sm-12 col-md-6">
       <%= image_tag "voie-lactee.jpg", width: 650, height: 950, crop: :fill %>
        <ul class="rslides">
          <li><img src="voie-lactee.jpg" alt=""></li>
            <li><img src="ange.jpg" alt=""></li>
              <li><img src="musicienne.jpg" alt=""></li>
        </ul>
      </div>

      <div class= "col-xs-6 col-sm-hidden col-md-3 col-md-3" >
          <%= image_tag "adam et eve 2.jpg", width: 250, height: 250, crop: :fill %>
            <h4><%= link_to "Références à l'histoire de l'art", pages_references_path, :class=>"navbar-wagon-item navbar-wagon-link"%></h4>
      </div>

      <div class= "col-xs-6 col-sm-hidden col-md-3" text-align="center">
          <%= image_tag "lapin.jpg", width: 250, height: 250, crop: :fill %>
            <h4><%= link_to "Bestiaire", pages_bestiaries_path, :class=>"navbar-wagon-item navbar-wagon-link"%></h4>
      </div>

      <div class= "col-xs-6 col-sm-hidden col-md-3" >
        <%= image_tag "rêverie.jpg", width: 250, height: 250, crop: :fill %>
          <h4><%= link_to "Portraits", pages_portraits_path, :class=>"navbar-wagon-item navbar-wagon-link"%></h4>
      </div>

      <div class= "col-xs-6 col-sm-hidden col-md-3" >
        <%= image_tag "plume.jpg", width: 250, height: 250, crop: :fill %>
          <h4><%= link_to "Inspiration libre", pages_inspirations_path, :class=>"navbar-wagon-item navbar-wagon-link"%></h4>
      </div>

      <div class= "col-xs-6 col-sm-hidden col-md-3" >
          <%= image_tag "tutu carré.jpg", width: 250, height: 250, crop: :fill %>
            <h4><%= link_to "Hommages aux créateurs", pages_tributes_path, :class=>"navbar-wagon-item navbar-wagon-link"%></h4>
      </div>

      <div class= "col-xs-6 col-sm-hidden col-md-3" >
          <%= image_tag "conquete 2.jpg", width: 250, height: 250, crop: :fill %>
            <h4><%= link_to "Symbolisme", pages_explorations_path, :class=>"navbar-wagon-item navbar-wagon-link"%></h4>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $(".rslides").responsiveSlides();
  });
</script>
