<div class="page">


<div class="container-text">

<div class= draw>
  <h1> Inspiration libre
  </h1>

</div>

 </div>

<div class="container-img">

<div class= "draw">
      <%= image_tag "jeune fille au turban.jpg", width: 850, height: 750, crop: :fill %>
      <div class="legende">
      Jeune fille au turban. Huile sur toile. 46 x 38 cm.
      </div>
</div>
    <div class= "draw">
      <%= image_tag "tutu.jpg", width: 850, height: 550, crop: :fill %>
      <div class="legende">
      Tutu psychédélique. Huile sur bois.
      </div>
    </div>

 <div class= "draw">
      <%= image_tag "corset.jpg", width: 850, height: 1040, crop: :fill %>
      <div class="legende">
        Etude de corset. Huile sur toile.
      </div>
    </div>
<div class= "draw">
      <%= image_tag "bouquet.jpg", width: 850, height: 1000, crop: :fill %>
      <div class="legende">
        Le Bouquet d'Héllébores. Huile sur papier fort.
      </div>
    </div>
    <div class= "draw">
      <%= image_tag "plume.jpg", width: 850, height: 620, crop: :fill %>
      <div class="legende">
        Voyage. Huile sur papier fort.
      </div>
    </div>
    </div>
</div>
