<div class="page">
  <div class="container-text">
    <div class= draw>
      <h1> Inspiration libre
      </h1>
    </div>
  </div>

<div class="container-img">
  <div class= "draw">
    <%= image_tag "jeune fille au turban.jpg", width: 850, height: 750, crop: :fill %>
      <div class="legende">
      Jeune fille au turban. Huile sur toile. 46 x 38 cm.
      </div>
  </div>
  <div class= "draw">
    <%= image_tag "tutu.jpg", width: 850, height: 550, crop: :fill %>
    <div class="legende">
      Tutu. Huile sur bois. 64,5 x 94,5cm.
    </div>
  </div>

  <div class= "draw">
      <%= image_tag "corset.jpg", width: 850, height: 1040, crop: :fill %>
    <div class="legende">
        Corset. Huile sur toile. 73 x 92cm.
    </div>
  </div>
  <div class= "draw">
    <%= image_tag "bouquet.jpg", width: 850, height: 1000, crop: :fill %>
    <div class="legende">
        Le Bouquet d'Héllébores. Techniques mixtes sur papier (250g. m²). 30 x 40cm.
    </div>
  </div>
  <div class= "draw">
    <%= image_tag "plume.jpg", width: 850, height: 620, crop: :fill %>
      <div class="legende">
        Voyage. Techniques mixtes sur papier et bois. 40 x 30cm.
      </div>
  </div>
</div>
</div>
