<div class="page">


<div class="container-text">

<div class= draw>
  <h1> Portraits
  </h1>

</div>

 </div>

<div class="container-img">
    <div class= "draw">
      <%= image_tag "rêverie.jpg", width: 650, height: 650, crop: :fill %>
      <div class="legende">
         Rêverie. Huile sur papier fort.
      </div>
    </div>

    <div class= "draw">
      <%= image_tag "pile et face.jpg", width: 650, height: 650, crop: :fill %>
      <div class="legende">
      Pile et face. Huile sur papier fort.
      </div>
    </div>

    <div class= "draw">
      <%= image_tag "brume.jpg", width: 650, height: 900, crop: :fill %>
      <div class="legende">
      Brume. Huile sur papier fort.
      </div>

    </div>
 <div class= "draw">
      <%= image_tag "musicienne.jpg", width: 650, height: 900, crop: :fill %>
      <div class="legende">
      La musicienne orientale. Huile sur toile.
      </div>
    </div>
<div class= "draw">
      <%= image_tag "jeune fille au turban.jpg", width: 650, height: 650, crop: :fill %>
      <div class="legende">
      Jeune fille au turban. Huile sur toile.
      </div>
    </div>

      <div class= "draw">
      <%= image_tag "lunettes.jpg", width: 650, height: 650, crop: :fill %>
      <div class="legende">
      Lunettes papillons. Huile sur papier fort.
      </div>
    </div>

    <div class= "draw">
      <%= image_tag "clin.jpg", width: 650, height: 550, crop: :fill %>
      <div class="legende">
      Clin d'oeil. Huile sur papier fort.
      </div>
    </div>
    <div class= "draw">
      <%= image_tag "nativité.jpg", width: 650, height: 550, crop: :fill %>
      <div class="legende">
      Nativité. Huile sur toile.
      </div>
    </div>
    <div class= "draw">
      <%= image_tag "apparition.jpg", width: 650, height: 820, crop: :fill %>
      <div class="legende">
      Apparition. Huile sur papier fort.
      </div>
    </div>
     <div class= "draw">
      <%= image_tag "ange.jpg", width: 650, height: 820, crop: :fill %>
      <div class="legende">
      L'Ange aux ailes rouges. Huile sur papier fort.
      </div>
    </div>
</div>
