<div class="page">

  <div class="container-text">
    <div class= draw>
      <h1> Portraits
      </h1>
    </div>
  </div>

  <div class="container-img">
    <div class= "draw">
      <%= image_tag "rêverie.jpg", width: 650, height: 650, crop: :fill %>
      <div class="legende">
         Rêverie. Techniques mixtes sur papier toilé. 30 x 33cm.
      </div>
    </div>

    <div class= "draw">
      <%= image_tag "pile et face.jpg", width: 650, height: 650, crop: :fill %>
      <div class="legende">
      Night and day. Techniques mixtes sur papier (250g. m²). 30 x 30cm.
      </div>
    </div>

    <div class= "draw">
      <%= image_tag "brume.jpg", width: 650, height: 900, crop: :fill %>
      <div class="legende">
      Brume. Techniques mixtes sur papier (250g. m²). 30 x 40cm.
      </div>
    </div>
    <div class= "draw">
      <%= image_tag "musicienne.jpg", width: 650, height: 900, crop: :fill %>
      <div class="legende">
      La musicienne orientale. Huile sur toile.
      </div>
    </div>
    <div class= "draw">
      <%= image_tag "jeune fille au turban.jpg", width: 650, height: 650, crop: :fill %>
      <div class="legende">
      Jeune fille au turban. Huile sur toile. 46 x 38cm.
      </div>
    </div>

    <div class= "draw">
      <%= image_tag "lunettes.jpg", width: 650, height: 650, crop: :fill %>
      <div class="legende">
        Lunettes papillons. Techniques mixtes sur papier (250g. m²). 30 x 30cm.
      </div>
    </div>

    <div class= "draw">
      <%= image_tag "clin.jpg", width: 650, height: 550, crop: :fill %>
        <div class="legende">
          Clin d'oeil. Techniques mixtes sur papier (250g. m²). 30 x 40cm.
        </div>
    </div>
    <div class= "draw">
      <%= image_tag "nativité.jpg", width: 650, height: 550, crop: :fill %>
        <div class="legende">
          Nativité. Huile sur toile. 60 x 73cm.
        </div>
    </div>
    <div class= "draw">
      <%= image_tag "apparition.jpg", width: 650, height: 820, crop: :fill %>
        <div class="legende">
          Apparition. Techniques mixtes sur papier (250g. m²). 30 x 30cm.
        </div>
    </div>
    <div class= "draw">
      <%= image_tag "ange.jpg", width: 650, height: 820, crop: :fill %>
      <div class="legende">
      L'Ange aux ailes rouges. Techniques mixtes sur papier (250g. m²). 30 x 40cm.
      </div>
    </div>
</div>
</div>
