<div class="page">


<div class="container-text">

<div class= draw>
  <h1> Références à l'histoire de l'art
</h1>
<p> Nelly Crestey réinterprète un thème marquant de l'histoire de l'art en reprenant les compositions picturales d'artistes ayant interprété la scène d''Adam et Eve au Paradis'. Dans ses évocations, les corps des personnages sont simplement signifiés par le présence de feuilles de vignes. Le thème de la nativité est réinterprété sous forme de double portrait nocturne où l'enfant à naître dort paisiblement dans une boule à neige. Le genre de la nature morte devient une personnalification de Bacchus, dieu du vin transmué en petit écureuil. Un hommage à l'artiste Olafur Eliasson associe son portrait à un arrière-plan lumineux qui évoque l'intensité de ses installations lumineuses.
</div>

 </div>

<div class="container-img">
    <div class= "draw">
      <%= image_tag "adam et eve 1.jpg", width: 650, height: 900, crop: :fill %>
      <div class="legende">
        Adam et Eve (d'après Joaerdens) Huile sur toile.
      </div>
    </div>

    <div class= "draw">
      <%= image_tag "adam et eve 2.jpg", width: 650, height: 900, crop: :fill %>
      <div class="legende">
      Adam et Eve (d'après Dürer). Huile sur toile.
      </div>
    </div>

    <div class= "draw">
      <%= image_tag "nativité.jpg", width: 650, height: 550, crop: :fill %>
      <div class="legende">
      Nativité dans une boule à neige. Huile sur toile.
      </div>

    </div>

    <div class= "draw">
      <%= image_tag "ecureuil.jpg", width: 650, height: 550, crop: :fill %>
      <div class="legende">
      Le petit Bacchus. Huile sur toile.
      </div>
    </div>
<div class= "draw">
      <%= image_tag "corne abondance.jpg", width: 650, height: 550, crop: :fill %>
      <div class="legende">
        Corne d'abondance. Huile sur toile.
      </div>
    </div>
    <div class= "draw">
      <%= image_tag "eliasson.jpg", width: 650, height: 550, crop: :fill %>
      <div class="legende">
        Le Regard d'Olafur Eliasson. Huile sur toile.
      </div>
    </div>
</div>
