<!DOCTYPE html>
<html>
  <head>
    <title>Nelly Crestey</title>

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">

      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">


       <%= csrf_meta_tags %>
       <%= action_cable_meta_tag %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- Leave those next 4 lines if you care about users using IE8 -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113871427-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-113871427-1');
    </script>

    </head>

    <body>
      <%= render 'shared/navbar' %>
      <%= render 'shared/barre-liens' %>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
      <%= render 'shared/footer'%>

    <script>
    ;(function(){
    "use strict";

    var $slider = $('#slider');
    if (!$slider.length) return;

    var $sliderElements = $slider.find('article'),
      sliderElementLastIndex = $sliderElements.length - 1,
      timer,
      actualIndex = 0,
      step = function() {
        clearTimeout(timer);
        timer = setTimeout(function(){
          if (actualIndex < sliderElementLastIndex) {
            actualIndex++;
          } else {
            actualIndex = 0;
          }
          $sliderElements.removeClass('show');
          $sliderElements.eq(actualIndex).addClass('show');

          step();
        },5000);
      };

  clearTimeout(timer);
  step();

  })();
  </script>

  <script>
  $('.ml16').each(function(){
  $(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>"));
  });

  anime.timeline({loop: true})
    .add({
      targets: '.ml16 .letter',
      translateY: [-50,0],
      easing: "easeInElastic",
      duration: 2000,
      delay: function(el, i) {
        return 300 * i;
      }
      }).add({
      targets: '.ml16',
      opacity: 0,
      duration: 15000,
      easing: "easeInBack",
      delay: 8
      });
  </script>
  </body>
</html>

